@charset "UTF-8";
/* style.scss */
/* _variables.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #3d3c96;
  font-family: "Open Sans", sans-serif;
  color: #FFF;
  overflow-x: hidden; }

/* -------------------- General ----------------- */
.wrapper {
  max-width: 1200px;
  margin: auto;
  margin-top: 10vh; }
  @media (min-width: 1920px) {
    .wrapper {
      max-width: 1550px;
      margin-top: 15vh; } }
  @media (min-width: 1600px) {
    .wrapper {
      max-width: 1350px; } }
  @media (max-width: 1280px) {
    .wrapper {
      max-width: 80%; } }
  @media (max-width: 768px) {
    .wrapper {
      max-width: 90%;
      margin-top: 75px; } }

.btn {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  max-width: 400px;
  display: block;
  color: #3d3c96;
  padding: 1rem 0;
  font-size: 1rem;
  background-color: #f8a5ae;
  will-change: box-shadow;
  box-shadow: 0px 0px 0 0 #FFF;
  text-shadow: 0px 0px 0 #FFF;
  transition: box-shadow 0.3s, text-shadow 0.5s; }
  .btn:hover {
    text-shadow: 5px 5px 0 #FFF;
    box-shadow: 10px 10px 0 0 #FFF; }
  @media (min-width: 1920px) {
    .btn {
      font-size: 1.8rem; } }

.btn.more, .enviar {
  border: none;
  width: 100%;
  max-width: 300px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer; }
  @media (max-width: 768px) {
    .btn.more, .enviar {
      max-width: none; } }

.enviar {
  margin-top: 50px; }

h2, .nav2 a {
  text-transform: uppercase;
  font-weight: 200;
  margin-top: 5vh;
  margin-bottom: 3vh; }
  h2::before, .nav2 a::before {
    content: ">>";
    position: relative;
    color: #f8a5ae;
    margin-right: 0.8rem;
    font-weight: 600; }
  @media (min-width: 1920px) {
    h2, .nav2 a {
      font-size: 2rem; } }

p {
  font-size: 0.9rem; }
  @media (min-width: 1920px) {
    p {
      font-size: 1rem; } }
  @media (max-width: 768px) {
    p {
      font-size: 0.8rem; } }

strong {
  font-weight: 600; }

/* --------------------- << - Botonera - >> ----------------- */
.wrapper-nav {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  background-color: #3d3c96; }

.main-nav {
  width: 100%;
  height: 65px;
  line-height: 65px;
  margin-top: 0; }

.main-nav__group {
  display: flex;
  list-style-type: none; }

.main-nav__link {
  display: block;
  font-size: 1em;
  color: #FFF;
  text-decoration: none;
  padding: 0 2em; }
  .main-nav__link:hover {
    color: #f8a5ae; }
  @media (min-width: 1920px) {
    .main-nav__link {
      font-size: 1.3em; } }
  @media (max-width: 768px) {
    .main-nav__link {
      font-size: 0.9em;
      padding: 0 1.1em; } }
  @media (max-width: 450px) {
    .main-nav__link {
      padding: 0 0.9em; } }
  @media (max-width: 380px) {
    .main-nav__link {
      font-size: 0.85em;
      padding: 0 0.65em; } }
  @media (max-width: 360px) {
    .main-nav__link {
      font-size: 0.8em;
      padding: 0 0.55em; } }

.main-nav__item:first-of-type a {
  padding-left: 0; }

/* ----------------- Header ----------------- */
.main-header {
  position: relative;
  display: flex; }
  .main-header h1 {
    font-size: 3.5em;
    font-weight: 400;
    text-transform: uppercase; }
    .main-header h1 span {
      font-family: "Courgette", cursive;
      color: #f8a5ae;
      margin-left: 0.3em; }
  .main-header h2 {
    text-transform: none;
    font-weight: 200;
    font-size: 1.4em;
    margin-bottom: 1.3em; }
    .main-header h2::before {
      display: none; }
  .main-header time {
    color: #f8a5ae;
    font-size: 1em; }
  .main-header h3 {
    color: #f8a5ae;
    font-size: 1.4em;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 0; }
  .main-header a {
    margin-top: 4em; }
  .main-header::after {
    content: "";
    width: 140vw;
    position: absolute;
    bottom: 0;
    left: -20vw;
    height: 3px;
    background-color: #f8a5ae;
    z-index: 1; }
  @media (min-width: 2200px) {
    .main-header::after {
      left: -40vw; } }
  @media (min-width: 1920px) {
    .main-header h1 {
      font-size: 5.5em; }
    .main-header h2, .main-header h3, .main-header time {
      font-size: 1.8em; } }
  @media (max-width: 1100px) {
    .main-header h1 {
      font-size: 2.2em; } }
  @media (max-width: 768px) {
    .main-header .main-header__img {
      display: none; } }
  @media (max-width: 500px) {
    .main-header h1 {
      font-size: 2.6em; } }
  @media (max-width: 380px) {
    .main-header h1 {
      font-size: 2.3em; }
    .main-header h2, .main-header h3 {
      font-size: 1.2em; } }

.main-header__content {
  flex-grow: 1; }
  .main-header__content a {
    margin-bottom: 10vh; }
  @media (max-width: 768px) {
    .main-header__content a {
      max-width: none; } }

.main-header__img {
  display: flex;
  align-self: flex-end; }

.main-header__img img {
  width: 100%; }

/* --------------- Expositores / Speakers ------------- */
.speaker {
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  justify-content: space-between; }
  @media (max-width: 768px) {
    .speaker {
      flex-wrap: wrap; } }

.featured-content {
  position: relative;
  height: 400px;
  box-shadow: 10px 10px 0 0 #f8a5ae;
  transition: box-shadow 0.4s; }
  .featured-content img {
    width: 100%; }
  .featured-content:last-of-type {
    display: none; }
    @media (min-width: 1600px) {
      .featured-content:last-of-type {
        display: block; } }
  .featured-content:hover .featured-content__hide {
    opacity: 1;
    transition: opacity 0.8s; }
  .featured-content:hover {
    box-shadow: 10px 10px 0 0 #FFF; }
  @media (max-width: 1024px) {
    .featured-content {
      height: auto;
      width: 40%; }
      .featured-content img {
        height: 100%;
        object-fit: cover; }
      .featured-content .featured-content__hide {
        height: 100%; }
      .featured-content .featured-content__hide p:nth-of-type(2) {
        display: none; } }
  @media (max-width: 768px) {
    .featured-content {
      width: 90%;
      margin: 3vh auto; } }

.featured-content__hide {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  padding: 2em 2.5em;
  width: 100%;
  height: 400px;
  background-color: #f8a5ae;
  transition: opacity 0.6s; }
  .featured-content__hide h3 {
    margin-bottom: 1em; }
  .featured-content__hide h3, .featured-content__hide strong {
    color: #3d3c96; }

.speaker-gral {
  display: flex;
  max-width: 29.7%; }
  .speaker-gral img {
    max-width: 180px; }
  .speaker-gral h3 {
    margin-top: 0;
    line-height: 1;
    margin-bottom: 0.4em; }
  @media (max-width: 1600px) {
    .speaker-gral h3 {
      font-size: 1em; }
    .speaker-gral p {
      font-size: 0.8em; }
    .speaker-gral img {
      max-width: 120px; } }
  @media (max-width: 1100px) {
    .speaker-gral {
      flex-wrap: wrap;
      width: 33.333%; }
      .speaker-gral img {
        margin-bottom: 0.4em;
        max-width: 140px; } }
  @media (max-width: 768px) {
    .speaker-gral {
      width: 100%;
      max-width: 100%;
      text-align: center;
      margin: 3vh auto; } }

.speaker-gral__content {
  max-width: 80%;
  padding-left: 20px; }
  @media (max-width: 1100px) {
    .speaker-gral__content {
      padding-left: 0;
      max-width: 100%; } }

@media (max-width: 768px) {
  .speaker-gral__img {
    width: 100%; } }

.row3 {
  display: none;
  opacity: 0; }

.anima {
  opacity: 1;
  transition: opacity 0.4s, transform 0.5s; }

/* -----------------------
						AGENDA
------------------------ */
/* Tabs - General */
.tabs {
  position: relative;
  margin: 8vh auto; }

.tab-links:after {
  display: block;
  clear: both;
  content: ""; }

.tab-links {
  position: absolute;
  width: 100%;
  z-index: 1; }

.tab-links li {
  float: left;
  list-style-type: none;
  width: 20%;
  text-align: center; }

.tab-links a {
  font-size: 1.3em;
  font-weight: 200;
  display: block;
  height: 80px;
  line-height: 80px;
  color: #3d3c96;
  background-color: #f8a5ae;
  text-transform: uppercase;
  text-decoration: none;
  will-change: transform, box-shadow;
  transition: all 0.3s; }
  @media (max-width: 1024px) {
    .tab-links a {
      font-size: 1.1em; } }
  @media (max-width: 768px) {
    .tab-links a {
      font-size: 1em; } }
  @media (max-width: 400px) {
    .tab-links a {
      font-size: 0.8em; } }

.tab-links a:hover {
  transform: translate(-20px, -20px);
  text-shadow: 5px 5px 0 #FFF;
  box-shadow: 10px 10px 0 0 #FFF; }

.tab-links li.active a {
  transform: translate(-10px, -10px);
  background-color: #3d3c96;
  color: #f8a5ae;
  box-shadow: 10px 10px 0 0 #FFF; }

/* Content of Tabs */
.tab-content {
  position: relative;
  clear: both;
  top: 120px;
  left: 50px; }

/* Configuración base */
.tab {
  display: none; }

.tab.active {
  display: block; }

.tab-content table img {
  position: relative;
  top: 6px;
  padding: 0 10px; }
  @media (max-width: 1024px) {
    .tab-content table img {
      width: 110px;
      top: 0; } }
  @media (max-width: 400px) {
    .tab-content table img {
      width: 20px;
      opacity: 0; } }

.tab-content td:first-of-type {
  text-align: right;
  font-weight: 600; }

@media (max-width: 768px) {
  .tab-links {
    position: static; }
    .tab-links li.active a {
      box-shadow: inset 0 0 0 8px #FFF;
      transform: none; }
  .tab-links li {
    width: 49.95%; }
  .tab-links li:nth-last-child(-n+3) {
    width: 33.33%; }
  .tab-links a:hover {
    transform: none;
    box-shadow: inset 0 0 0 8px #FFF; }
  .tab-content {
    left: 0;
    top: 20px; }
  .tab-content table img {
    top: -1px; } }

/* -----------------------
						SPONSORS
------------------------ */
.sponsors {
  margin-top: 150px; }
  @media (max-width: 768px) {
    .sponsors {
      margin-top: 75px; } }

.sponsors img {
  float: left;
  max-width: 25%;
  margin-top: 20px; }
  @media (max-width: 768px) {
    .sponsors img {
      float: none;
      max-width: 100%; } }

@media (max-width: 768px) {
  .sponsors a {
    max-width: 300px;
    margin: auto;
    display: block; } }

/* -----------------------
						REGISTRATE
------------------------ */
.registrate {
  clear: both;
  margin-top: 200px; }
  @media (max-width: 1024px) {
    .registrate {
      margin-top: 150px; } }
  @media (max-width: 768px) {
    .registrate {
      margin-top: 100px; } }

.registrate-form {
  max-width: 550px;
  margin-top: 5vh; }
  .registrate-form label {
    display: block;
    clear: both;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px; }
  .registrate-form span {
    float: left;
    display: block;
    width: 155px; }
  .registrate-form input:not([type="button"]) {
    background-color: transparent;
    color: #FFF;
    border: 1px solid #f8a5ae;
    width: 330px;
    padding: 6px 4px;
    display: block;
    float: left; }
    .registrate-form input:not([type="button"]):focus {
      border-color: #FFF; }
  @media (max-width: 768px) {
    .registrate-form {
      max-width: none; }
      .registrate-form span, .registrate-form input:not([type="button"]) {
        width: 100%;
        float: none; }
      .registrate-form label {
        margin-top: 25px; } }

/* -----------------------
						PIE
------------------------ */
.pie {
  clear: both;
  margin-top: 8vh;
  padding-top: 20px;
  position: relative;
  min-height: 300px; }
  .pie::before {
    content: "";
    width: 140vw;
    position: absolute;
    top: 0;
    left: -20vw;
    height: 3px;
    background-color: #f8a5ae;
    z-index: 1; }

.nav2 {
  max-width: 40%;
  float: left; }
  @media (max-width: 630px) {
    .nav2 {
      max-width: 100%;
      float: none; } }

.nav2 a {
  margin-top: 1em;
  margin-bottom: 0.8em;
  display: block;
  color: #FFF;
  font-size: 1em;
  text-decoration: none; }
  .nav2 a:hover {
    font-weight: 600; }

.der2 {
  max-width: 60%;
  float: right;
  text-align: right; }
  .der2 h1 {
    font-size: 3.5em;
    font-weight: 400;
    text-transform: uppercase; }
    .der2 h1 span {
      font-family: "Courgette", cursive;
      color: #f8a5ae;
      margin-left: 0.3em; }
  .der2 a {
    font-weight: 200;
    text-decoration: none;
    color: #FFF;
    display: block; }
    .der2 a:hover {
      font-weight: 400; }
  .der2 img {
    display: block;
    margin-top: 10px;
    max-width: 100px;
    float: right; }
  @media (max-width: 768px) {
    .der2 h1 {
      font-size: 3em; } }
  @media (max-width: 630px) {
    .der2 {
      max-width: 100%;
      float: none; } }
  @media (max-width: 400px) {
    .der2 h1 {
      font-size: 2.4em; }
    .der2 img {
      padding-bottom: 20px; } }
